<img style="float:left;" src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/BonusModule_Coursera_v5/images/IDSNlogo.png" width="200" height="200">

# Final Project: Advanced SQL Techniques

Estimated time needed: **60** minutes

# Objectives

After completing this lab, you will be able to:

1.  Use joins to query data from multiple tables

2.  Create and query views

3.  Write and run stored procedures

4.  Use transactions

# Scenario

In this project, you will work with three datasets that are available on the City of Chicago's Data Portal:

*   Socioeconomic indicators in Chicago
*   Chicago public schools
*   Chicago crime data

You must download each dataset, create a table for each one, and load the appropiate dataset through the Db2 console. If you have already completed the Hands on Lab: Joins, you can reuse the tables you created for that hands-on lab. However, you should not reuse similar tables with other names from other exercises or labs, as they may not create the correct results.

**Important note:**

If you have <b>not</b> yet downloaded the three datasets from the City of Chicago's Data Portal,
created the required tables, and loaded the data, please follow the instructions in this section.

## City of Chicago Datasets

1.  **Socioeconomic indicators in Chicago**

This dataset contains a selection of six socioeconomic indicators of public health significance and a â€œhardship index,â€ for each Chicago community area, for the years 2008 â€“ 2012. A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

2.  **Chicago public schools**

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

3.  **Chicago crime data**

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at: [https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01)

### Store the datasets in database tables

The lab requires you to have these three tables populated with a subset of the whole datasets. Download the 'ChicagoCensusData.csv', 'ChicagoPublicSchools.csv', and 'ChicagoCrimeData.csv' datasets below and load the data into your Db2 On Cloud database.

[Chicago Census Data](datasets/ChicagoCensusData.csv)

[Chicago Public Schools](datasets/ChicagoPublicSchools.csv)

[Chicago Crime Data](datasets/ChicagoCrimeData.csv)

You need to create a new table for each dataset. As you load each dataset, click on "(+) New Table", specify the name of the table you want to create, and then click "Next".

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/BonusModule_Coursera_v5/images/LoadingData.png" width="800">

Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

After you have created the tables, review the data in each table by using the View Data feature in the Db2 On Cloud console.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
# Load the SQL extension
!pip install sqlalchemy==1.3.12
!pip install ibm_db_sa
%load_ext sql

# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://

Requirement already satisfied: sqlalchemy==1.3.12 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.3.12)
Requirement already satisfied: ibm_db_sa in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from ibm_db_sa) (1.3.12)

# Exercise 1: Using Joins

You have been asked to produce some reports about the communities and crimes in the Chicago area. You will need to use SQL join queries to access the data stored across multiple tables.

### Question 1

*   Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

<details>
<summary>Hint 1
</summary>
Use tables CHICAGO_PUBLIC_SCHOOLS and CENSUS_DATA
</details>

<details>
<summary>Hint 2
</summary>
Use a left join
</details>

**Take a screenshot showing the SQL query and its results.**

In [3]:
%%sql
SELECT
    PS.NAME_OF_SCHOOL,
    PS.COMMUNITY_AREA_NAME,
    PS.AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS PS 
JOIN CENSUS_DATA CD 
ON PS.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CD.HARDSHIP_INDEX = 98
ORDER BY PS.AVERAGE_STUDENT_ATTENDANCE DESC

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('William E B Dubois Elementary School', 'RIVERDALE', '93.30%'),
 ('Ira F Aldridge Elementary School', 'RIVERDALE', '92.90%'),
 ('George Washington Carver Military Academy High School', 'RIVERDALE', '91.60%'),
 ('George Washington Carver Primary School', 'RIVERDALE', '90.90%')]

### Question 2

*   Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

<details>
<summary>Hint 1
</summary>
Use tables CHICAGO_CRIME_DATA and CENSUS_DATA
</details>

<details>
<summary>Hint 2
</summary>
Use a left join
</details>

<details>
<summary>Hint 3
</summary>
The column location_description will help you find the crime location
</details>

**Take a screenshot showing the SQL query and its results.**

In [4]:
%%sql
SELECT
    CR.CASE_NUMBER,
    CR.PRIMARY_TYPE,
    CD.COMMUNITY_AREA_NAME
FROM CHICAGO_CRIME_DATA CR
LEFT JOIN CENSUS_DATA CD 
ON CR.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER
WHERE CR.LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HL353697', 'BATTERY', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', None),
 ('G635735', 'PUBLIC PEACE VIOLATION', None)]

# Exercise 2: Creating a View

For privacy reasons, you have been asked to create a view that enables users to select just the school name and the icon fields from the CHICAGO_PUBLIC_SCHOOLS table. By providing a view, you can ensure that users cannot see the actual scores given to a school, just the icon associated with their score. You should define new names for the view columns to obscure the use of scores and icons in the original table.

### Question 1

*   Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

| Column name in CHICAGO_PUBLIC_SCHOOLS | Column name in view |
| ------------------------------------- | ------------------- |
| NAME_OF_SCHOOL                        | School_Name         |
| Safety_Icon                           | Safety_Rating       |
| Family_Involvement_Icon               | Family_Rating       |
| Environment_Icon                      | Environment_Rating  |
| Instruction_Icon                      | Instruction_Rating  |
| Leaders_Icon                          | Leaders_Rating      |
| Teachers_Icon                         | Teachers_Rating     |

*   Write and execute a SQL statement that returns all of the columns from the view.

*   Write and execute a SQL statement that returns just the school name and leaders rating from the view.

**Take a screenshot showing the last SQL query and its results.**

In [54]:
%%sql
CREATE OR REPLACE VIEW CHICAGO_PUBLIC_SCHOOLS_RATINGS (
    SCHOOL_NAME, 
    SAFETY_RATING, 
    FAMILY_RATING, 
    ENVIRONMENT_RATING, 
    INSTRUCTION_RATING, 
    LEADERS_RATING, 
    TEACHERS_RATING
    ) AS
SELECT
    NAME_OF_SCHOOL, 
    SAFETY_ICON, 
    FAMILY_INVOLVEMENT_ICON, 
    ENVIRONMENT_ICON, 
    INSTRUCTION_ICON, 
    LEADERS_ICON, 
    TEACHERS_ICON
FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[]

In [65]:
%%sql
SELECT * FROM CHICAGO_PUBLIC_SCHOOLS_RATINGS
limit 1

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Abraham Lincoln Elementary School', 'Very Strong', 'Very Strong', 'Strong', 'Strong', 'Weak', 'Strong')]

In [66]:
%%sql
SELECT
    SCHOOL_NAME, 
    LEADERS_RATING
FROM CHICAGO_PUBLIC_SCHOOLS_RATINGS
limit 1

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Abraham Lincoln Elementary School', 'Weak')]

# Exercise 3: Creating a Stored Procedure

The icon fields are calculated based on the value in the corresponding score field. You need to make sure that when a score field is updated, the icon field is updated too. To do this, you will write a stored procedure that receives the school id and a leaders score as input parameters, calculates the icon setting and updates the fields appropriately.

### Question 1

*   Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don't forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.

**Take a screenshot showing the SQL query.**

In [ ]:
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    In in_School_ID integer,
    In in_Leader_Score integer
)
LANGUAGE SQL
BEGIN
END
@

### Question 2

*   Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

**Take a screenshot showing the SQL query.**

In [ ]:
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    In in_School_ID integer, 
    In in_Leader_Score integer
)
LANGUAGE SQL
BEGIN
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;
END
@

### Question 3

*   Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

| Score lower limit | Score upper limit | Icon        |
| ----------------- | ----------------- | ----------- |
| 80                | 99                | Very strong |
| 60                | 79                | Strong      |
| 40                | 59                | Average     |
| 20                | 39                | Weak        |
| 0                 | 19                | Very weak   |

<details>
<summary>Hint 1
</summary>
Remember that once a clause of the IF statement executes, no further checking occurs and processing moves to the code below the IF statement.
</details>

<details>
<summary>Hint 2
</summary>
Your IF statement should have a structure similar to:

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN

\-- update icon for 0-19

ELSEIF in_Leader_Score < 40 THEN

\-- update icon for 20-39

ELSEIF in_Leader_Score < 60 THEN

\-- update icon for 40-59

ELSEIF in_Leader_Score < 80 THEN

\-- update icon for 60-79

ELSEIF in_Leader_Score < 100 THEN

\-- update icon for 80-99

END IF;

</details>

**Take a screenshot showing the SQL query.**

In [ ]:
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    In in_School_ID integer, 
    In in_Leader_Score integer
)
LANGUAGE SQL
BEGIN
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Weak';

ELSEIF in_Leader_Score < 40 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Weak';

ELSEIF in_Leader_Score < 60 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Average';

ELSEIF in_Leader_Score < 80 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Strong';

ELSEIF in_Leader_Score < 100 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Strong';

END IF;

END 
@

### Question 4

*   Run your code to create the stored procedure.

**Take a screenshot showing the SQL query and its results.**

*   Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

In [29]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    In in_School_ID integer, 
    In in_Leader_Score integer
)
LANGUAGE SQL
BEGIN
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Weak';

ELSEIF in_Leader_Score < 40 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Weak';

ELSEIF in_Leader_Score < 60 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Average';

ELSEIF in_Leader_Score < 80 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Strong';

ELSEIF in_Leader_Score < 100 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Strong';

END IF;

END

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[]

In [38]:
%%sql
CALL UPDATE_LEADERS_SCORE(610038, 50);
SELECT SCHOOL_ID, LEADERS_ICON FROM CHICAGO_PUBLIC_SCHOOLS WHERE SCHOOL_ID = 610038

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.
Done.

[(610038, 'Average   ')]

# Exercise 4: Using Transactions

You realise that if someone calls your code with a score outside of the allowed range (0-99), then the score will be updated with the invalid data and the icon will remain at its previous value. There are various ways to avoid this problem, one of which is using a transaction.

### Question 1

*   Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

<details>
<summary>Hint 1
</summary>
You can add an ELSE clause to the IF statement which will only run if none of the previous conditions have been met.
</details>

**Take a screenshot showing the SQL query.**

In [ ]:
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    In in_School_ID integer, 
    In in_Leader_Score integer
)
LANGUAGE SQL
BEGIN
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Weak';

ELSEIF in_Leader_Score < 40 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Weak';

ELSEIF in_Leader_Score < 60 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Average';

ELSEIF in_Leader_Score < 80 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Strong';

ELSEIF in_Leader_Score < 100 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Strong';

ELSE 
ROLLBACK WORK;
END IF;

END 
@

### Question 2

*   Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.

<details>
<summary>Hint 1
</summary>
Remember that as soon as any code inside the IF/ELSE IF/ELSE statements completes, processing resumes after the END IF, so you can add your commit code there.
</details>

**Take a screenshot showing the SQL query.**

In [ ]:
--#SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    In in_School_ID integer, 
    In in_Leader_Score integer
)
LANGUAGE SQL
BEGIN
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Weak';

ELSEIF in_Leader_Score < 40 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Weak';

ELSEIF in_Leader_Score < 60 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Average';

ELSEIF in_Leader_Score < 80 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Strong';

ELSEIF in_Leader_Score < 100 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Strong';

ELSE ROLLBACK WORK;
END IF;
COMMIT WORK;

END 
@

*   Run your code to replace the stored procedure.

*   Write and run one query to check that the updated stored procedure works as expected when you use a valid score of 38.

*   Write and run another query to check that the updated stored procedure works as expected when you use an invalid score of 101.

In [48]:
%%sql
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE(
    In in_School_ID integer, 
    In in_Leader_Score integer
)
LANGUAGE SQL
BEGIN
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_SCORE = in_Leader_Score
WHERE SCHOOL_ID = in_School_ID;

IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Weak';

ELSEIF in_Leader_Score < 40 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Weak';

ELSEIF in_Leader_Score < 60 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Average';

ELSEIF in_Leader_Score < 80 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Strong';

ELSEIF in_Leader_Score < 100 THEN 
UPDATE CHICAGO_PUBLIC_SCHOOLS
SET LEADERS_ICON = 'Very Strong';

ELSE ROLLBACK WORK;
END IF;
COMMIT WORK;

END

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[]

In [49]:
%%sql
CALL UPDATE_LEADERS_SCORE(610038, 38);
SELECT SCHOOL_ID, LEADERS_ICON FROM CHICAGO_PUBLIC_SCHOOLS WHERE SCHOOL_ID = 610038

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.
Done.

[(610038, 'Weak      ')]

In [51]:
%%sql
CALL UPDATE_LEADERS_SCORE(610038, 101);
SELECT SCHOOL_ID, LEADERS_ICON FROM CHICAGO_PUBLIC_SCHOOLS WHERE SCHOOL_ID = 610038

 * ibm_db_sa://xdh94237:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.
Done.

[(610038, 'Weak      ')]

# Summary

You can now write advanced SQL statements to query data from multiple tables, to obscure sensitive data from users, and to control how information is updated in your tables.

# Authors

<h4> Lin Joyner <h4/>
<h4> Ramesh Sannareddy <h4/>

# Other Contributor

Rose Malcolm

# Changelog

| Date       | Version | Changed by    | Change Description                                                               |
| ---------- | ------- | ------------- | -------------------------------------------------------------------------------- |
| 02-July-21 | 1.2     | Lakshmi Holla | Made changes in Hint section.                                                    |
| 27-Jan-21  | 1.1     | Rose Malcolm  | Added instructions to go to Exercise 1 if tables already created and poplulated. |
| 05-Jun-20  | 1.0     | Rose Malcolm  | Initial version created                                                          |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>